<div class="container feature">
    <h2>Featured On</h2>
    <div class="row card1 ">
            <div class="col-lg-6">
                <img class="thumbnail" src="../../../assets/images/featured-on.png" alt="featured-on">
            </div>

            <div class="col-lg-6 content">
                <h3>College Project To <br> Corporate Business <br> Man!</h3>
                <p>Watch the Video <span><img src="../../../assets/icons/arrow-icon.png" alt="arrow-icon"></span></p>
            </div>
        </div>
    </div>