.franchise-model-main {
  background: var(--franchise-background);
  padding-top: 150px;
}

.content h2 {
  font-size: 34px;
  line-height: 50px;
  font-family: var(--font-bold);
  color: var(--header-font-color);
  text-align: center;
}

.card-content h6 {
  font-size: 24px;
  font-family: var(--font-semibold);
  line-height: 35px;
  color: var(--primaryColor);
  margin-bottom: 0;
  text-align: left;
}

.card-content p {
  font-size: 14px;
  line-height: 24px;
  color: var(--primaryColor);
  font-family: var(--font-regular);
  text-align: left;
  margin-bottom: 0;
}

.franchise-icon {
  height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px */
    /* border-radius: 10px; */
}

.card-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  margin-bottom: 20px;
  gap: 15px;
  height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 10px 15px 0px;
}

.card-col{
  margin-bottom: 20px;
  
}

.inner-card{
  height: 100%;
}

.image img{
  width: 100px;
  height: 100px;
}

/* .card-content1{
  width: 400px;
  height: 100px;
} */



.card-column{
  margin-top: 20px;
  display: flex;
  height: 20vh;
  padding: 10px 20px;

}
.content br{
  display: none;
}

.content h6, .content p{
  margin-bottom: 0;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  /* .card-content{
        flex-direction: column;
        width: 60%;
    } */
}

@media only screen and (max-width: 991px) {
  .content h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .card-content h6{
    font-size: 20px;
  }

  .content h5{
    font-size: 25px;
    line-height: 40px;
  }

}

/* Responsive */
@media only screen and (min-width:768px){
  .franchise-icon{
     border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
  }

  .card-content{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }



}