<div class="franchise-model-main">
  <div class="container content">
    <h2>
      World’s First Franchise Model <br />
      Building Repairing Brand
    </h2>
    <div class="row m-0">
      <div class="col-lg-6  card-col " *ngFor="let franchise of franchisee">
        <div class="row m-0 inner-card">
          <div class="col-lg-4 col-md-4 col-sm-4 p-0">
            <img
              class="franchise-icon"
              [src]="franchise.franchiseIcon"
              alt="feature-img"
            />
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 p-0">
            <div class="card-content">
              <h6>{{ franchise.heading }}</h6>
              <p [innerHTML]="franchise.description"></p>
            </div>
          </div>
        </div>

       


      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
<div class="franchisee">
  <div class="card-column" *ngFor="let instance of mobileads">
      <div class="image">
        <img
      class=""
      [src]="instance.franchiseIcon"
      alt="feature-img">
      </div>
      <div class="content">
          <h6>{{ instance.heading }}</h6>
          <p [innerHTML]="instance.description"></p>
        </div>
    </div>
</div>
</div> -->

