<div class="footer">
  <div class="container inner-footer">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-4 first">
        <img src="../../../assets/logo/logo.png" alt="logo" />
        <p>
          Building Doctor is a leading provider of construction solutions,
          offering a wide range of products and services to address various
          needs in the construction industry.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-4 first">

        <h3>Important Links</h3>
        <h6>Services</h6>
        <h6>Products</h6>
        <h6>Resources</h6>
        <h6>Franchise</h6>
        <h6>Home </h6>
        <h6>About Us </h6>
        <h6>Contact Us</h6>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-4 first">
        <h3>Policies</h3>

        <h6>Privacy Policy </h6>
        <h6>Terms & Conditions </h6>
        <h6>Return & Refund Policy</h6>
        <h6>Shipping Policy </h6>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-4 first">
        <h3>Get in Touch</h3>
        <a href="https://maps.app.goo.gl/jkQC3bnPuc6ong5N7">Cutchery Road, Razack Tower, <br> Union Office Opp, <br>
            Mayiladuthurai - 609 001</a>
            <div class="social-icons">
                <img src="../../../assets/icons/Facebook.webp" alt="Facebook">
                <img src="../../../assets/icons/Instagram.webp" alt="Instagram">
                <img src="../../../assets/icons/Youtube.webp" alt="Youtube">
            </div> 
      </div>
    </div>
  </div>
</div>


