<div class="container">
  <div class="contact_banner">
    <div class="overlay"></div>
    <h2>Return and Refund Policy</h2>
    <br />
    <!-- <h5><a routerLink="/">Home</a>  <span> >></span> Privacy Policy</h5> -->
  </div>
</div>

<div class="container content">
  <p>
    Once dispatched, they are considered as final sale and no refunds will be
    processed.
  </p>
  <p>
    In case the product is received in a damaged condition, refund or
    replacement will take place only if informed within 24 hrs from the time of
    delivery. The customer is required to email us at
    <a href="mailto:admin@buildingdoctor.org">admin@buildingdoctor.org</a>
    within 48 hours from the date of delivery with order number, name, address,
    and description of the issue.
  </p>
  <p>
    Once your return request has been accepted, the refund will be processed
    within 7 business days and the amount will be transferred via the same
    payment mode used while placing the order.
  </p>
  <p>
    BUILDING DOCTOR is not responsible for any damage caused after delivery.
  </p>

  <h6>Cancellation Policy</h6>
  <p>
    If the order or the item(s) that you want to cancel have not been shipped,
    you can email us at admin@buildingdoctor.org or call us (9am – 6pm, Mon –
    Fri).In such cases, the order will be cancelled, and the money will be
    refunded to you within 7 business days after the cancellation request is
    duly processed by us.
  </p>
  <p>
    Cancellation of orders can be done only if the order has not been dispatched
    from our end. Once orders have been dispatched, we cannot issue a
    cancellation.
  </p>
</div>
