<div class="apply-main">
    <div class="container content">
        <h6>Maximize Your Potential with Building Doctor Services</h6>
        <div class="features">
            <h5>
                <span><img src="../../../assets/icons/tick-icon.svg" alt="tick-icon" /></span> Expert Solutions
            </h5>
            <h5>
                <span><img class="tick-icon" src="../../../assets/icons/tick-icon.svg" alt="tick-icon" /></span>Tailored Support
            </h5>
            <h5>
                <span><img class="tick-icon" src="../../../assets/icons/tick-icon.svg" alt="tick-icon" /></span>Premium Offerings</h5>
        </div>
        <h2>
            Turn Your Vision into Reality <br />
            With Our Comprehensive Service Portfolio
        </h2>
        <p>
            You'll have everything you need to excel in construction projects
        </p>
        <div class="center-button">
            <button class="view">Get Started Now</button>
        </div>
    </div>
</div>