<div class="calc_main">
    <div class="container calculate" >
      <h2>Why Smart Calculator</h2>
      <div class="card-calculate">
        <div class="row">
          <div class="col-lg-6 content">
            <h3>Calculate</h3>
            <h6>
              <span><i class="bi bi-bookmark-fill"></i></span>
              Larger buttons for quick calculations.
            </h6>
            <h6>
              <span><i class="bi bi-bookmark-fill"></i></span>
              4.5" color display for clarity.
            </h6>
            <h6>
              <span><i class="bi bi-bookmark-fill"></i></span>
              Portable and easy to handle.
            </h6>
          </div>
          <div class="col-lg-6">
            <img class="calc_image" src="../../../assets/images/Calculate.webp" alt="calculate">
          </div>
        </div>
      </div>
    </div>
    </div>
    