<div class="container">
  <div class="contact_banner">
    <div class="overlay"></div>
    <h2>Terms and Conditions</h2>
    <br />
    <!-- <h5><a routerLink="/">Home</a>  <span> >></span> Privacy Policy</h5> -->
  </div>
</div>

<div class="container content">
  <p>
    Welcome to BUILDING DOCTOR
    <a href="https://buildingdoctor.org">(www.buildingdoctor.org)</a> By placing
    an order with us for products which are sold on the Site (“Products”) you
    will be deemed to have read, understood and agreed to these Terms &
    Conditions.
  </p>

  <p>
    Please read these Terms and Conditions carefully and, if you are unhappy
    with any aspect, you should contact one of our advisors before placing an
    order with us.
  </p>

  <p>
    We amend these Terms and Conditions from time to time. Please check the top
    of this page to see when these Terms and Conditions were last updated.
  </p>

  <p>
    Every time you order Products from us, the Terms and Conditions in force at
    the time of your order will apply to the contract between you and us.
  </p>

  <p>
    If we have to revise these Terms and Conditions and this has a material
    impact on your order, we will contact you to give you reasonable advance
    notice of the changes and let you know how to cancel the contract if you are
    not happy with the changes.
  </p>

  <h6>1. About BUILDING DOCTOR:</h6>
  <p>
    This Site is operational in India and all sales on the Site are made by
    BUILDING DOCTOR. You have chosen to visit the Site in India in order to
    purchase our Products.
  </p>
  <p>
    As a consequence, irrespective of your place of residence, any purchase you
    make will occur in India and will be governed by these Terms and Conditions
    and laws of the Government of India. Any use of currencies other than INR
    are purely for your ease of reference.
  </p>

  <h6>2. Other policies:</h6>
  <p>
    The following additional policies (which can be accessed by clicking on the
    links below) also form part of these Terms and Conditions and should be read
    carefully before placing an order: Privacy Policy; and Returns Policy
  </p>

  <h6>3. Eligibility</h6>
  <p>
    In order to make a purchase through the Site or to use the services or
    features made available to you on the Site you will be required to register.
  </p>
  <p>
    When you register, you will be required to provide information about
    yourself including, but not limited to, your name, telephone number and
    e-mail address, which is true, accurate, current and complete in all
    respects.
  </p>
  <p>
    Should any of your registration information change in future you are
    required to amend your personal online account immediately. We may change
    registration requirements from time to time.
  </p>
  <p>
    Furthermore, when ordering items, you will be required to provide payment
    details and you represent and warrant that the payment details you provide
    on ordering are both valid and correct and you confirm that you are the
    person referred to in the billing information provided.
  </p>
  <p>
    The purchase of Products through the Site is strictly limited to parties who
    can lawfully enter into and form contracts on the Site in accordance with
    English law.
  </p>

  <h6>4. Pricing Policy</h6>
  <p>
    We have taken great care in the preparation of the content of this Site, in
    particular to ensure that the details, descriptions and prices quoted are
    correct at the time of publishing.
  </p>
  <p>
    However, we will only accept orders if there are no material errors in the
    description of the Products or the prices as advertised on this Site.
  </p>
  <p>
    All prices are displayed including GST and exclusive of delivery charges.
    The total cost of your order is the price of the Products ordered plus GST
    at the current rate and plus the delivery charges as set out during the
    checkout process.
  </p>
  <p>
    Items in your online Shopping Cart will reflect the most recent price
    displayed on the Product’s detail page.
  </p>

  <h6>5. Availability</h6>
  <p>
    All Products are subject to availability. Validly stated prices on our Site
    remain in effect for so long as the Products are available or as otherwise
    stated on our Site. We will inform you as soon as possible if the Products
    you have ordered are not available.
  </p>

  <h6>6. Online ordering process</h6>
  <p><strong>The ordering process consists of following steps:</strong></p>
  <ul>
    <li>
      you add the Products which you wish to purchase to your shopping cart
    </li>
    <li>you select your preferred delivery method</li>
    <li>
      if you would like to send your order as a gift, you can choose to have it
      gift wrapped at the delivery options stage of the ordering process, and
      you will then be offered the opportunity to add a gift note with a
      personal message
    </li>
    <li>
      you provide an address for delivery, a billing address, and any requested
      payment information
    </li>
    <li>
      you will be asked to read carefully and then accept the Terms and
      Conditions
    </li>
    <li>
      before submitting your order you will have a final opportunity to review
      the Products to be purchased and their prices (including any additional
      charges and fees such as delivery costs) and all of the information you
      have submitted; and
    </li>
    <li>
      you will click ‘Submit’ to finalise your order. We amend these Terms and
      Conditions from time to time.
    </li>
    <li>
      Please check the top of this page to see when these Terms and Conditions
      were last updated.
    </li>
    <li>
      Every time you order Products from us, the Terms and Conditions in force
      at the time of your order will apply to the contract between you and us
    </li>
    <li>
      If we have to revise these Terms and Conditions and this has a material
      impact on your order, we will contact you to give you reasonable advance
      notice of the changes and let you know how to cancel the contract if you
      are not happy with the changes.
    </li>
  </ul>
  <h6>7. Ordering errors</h6>
  <p>
    You are able to correct errors on your order up to the point at which you
    click on ‘submit order’ on the final page of our ordering process.
  </p>
  <h6>8. Delivery</h6>
  <p>
    Deliveries can be made nationwide. As all our parcels require a signature
    upon delivery, we are unable to deliver to PO Box addresses. If you have a
    question about delivery we will advise you to call our Customer Services
    team during business hours.
  </p>

  <h6>9. Cancellation, Refunds & Returns</h6>
  <p>
    Please refer to our Cancellation, Refunds and Returns Policy provided on our
    Site.
  </p>

  <h6>10. Questions & Complaints</h6>
  <p>
    If you have any questions about these Terms and Conditions or if you wish to
    contact us to complain about any matter in regard to the Products, please
    e-mail us
    <a href="mailto:admin@buildingdoctor.org">– admin@buildingdoctor.org</a>
  </p>

  <h6>11. DISCLAIMER OF WARRANTY AND LIMITATION OF LIABILITY</h6>
  <p>
    THE SITE IS PRESENTED “AS IS.” NEITHER WE NOR OUR HOLDING, SUBSIDIARIES,
    AFFILIATES, PARTNERS, OR LICENSORS MAKE ANY REPRESENTATIONS OR WARRANTIES OF
    ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, IN CONNECTION WITH THESE TERMS AND
    CONDITIONS OR THE SITE OR ANY OF THE CONTENT, INCLUDING BUT NOT LIMITED TO
    WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR
    PURPOSE, EXCEPT TO THE EXTENT SUCH REPRESENTATIONS AND WARRANTIES ARE NOT
    LEGALLY EXCLUDABLE.
  </p>

  <p>
    YOU AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, NEITHER
    WE NOR OUR HOLDING, SUBSIDIARIES, AFFILIATES, PARTNERS, OR LICENSORS WILL BE
    RESPONSIBLE OR LIABLE (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR
    OTHERWISE) UNDER ANY CIRCUMSTANCES FOR ANY
  </p>

  <p>(a) INTERRUPTION OF BUSINESS;</p>
  <p>(b) ACCESS DELAYS OR ACCESS INTERRUPTIONS TO THE SITE;</p>
  <p>
    (c) DATA NON-DELIVERY, LOSS, THEFT, MISDELIVERY, CORRUPTION, DESTRUCTION OR
    OTHER MODIFICATION;
  </p>
  <p>
    (d) LOSS OR DAMAGES OF ANY SORT INCURRED AS A RESULT OF DEALINGS WITH OR THE
    PRESENCE OF OFF-WEBSITE LINKS ON THE SITE;
  </p>
  <p>
    (e) VIRUSES, SYSTEM FAILURES OR MALFUNCTIONS WHICH MAY OCCUR IN CONNECTION
    WITH YOUR USE OF THE SITE, INCLUDING DURING HYPERLINK TO OR FROM THIRD PARTY
    WEBSITES;
  </p>
  <p>(f) ANY INACCURACIES OR OMISSIONS IN CONTENT; OR</p>
  <p>(g) EVENTS BEYOND THE REASONABLE CONTROL OF VANITY WAGON.</p>

  <p>
    WE MAKE NO REPRESENTATIONS OR WARRANTIES THAT DEFECTS OR ERRORS WILL BE
    CORRECTED.
  </p>
  <p>
    FURTHER, TO THE FULLEST EXTENT PERMITTED BY LAW, NEITHER WE NOR OUR
    SUBSIDIARIES, AFFILIATES, PARTNERS, OR LICENSORS WILL BE LIABLE FOR ANY
    INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY
    KIND (INCLUDING LOST PROFITS) RELATED TO THE SITE OR YOUR USE THEREOF
    REGARDLESS OF THE FORM OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING
    NEGLIGENCE) OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF
    SUCH DAMAGES AND IN NO EVENT SHALL OUR MAXIMUM AGGREGATE LIABILITY EXCEED.
  </p>

  <p>
    YOU AGREE THAT NO CLAIMS OR ACTION ARISING OUT OF, OR RELATED TO, THE USE OF
    THE SITE OR THESE TERMS AND CONDITIONS MAY BE BROUGHT BY YOU MORE THAN ONE
  </p>

  <p>
    (1) YEAR AFTER THE CAUSE OF ACTION RELATING TO SUCH CLAIM OR ACTION AROSE.
    IF YOU HAVE A DISPUTE WITH US OR ARE DISSATISFIED WITH THE SITE, TERMINATION
    OF YOUR USE OF THE SITE IS YOUR SOLE REMEDY. WE HAVE NO OTHER OBLIGATION,
    LIABILITY, OR RESPONSIBILITY TO YOU.
  </p>
  <p>This disclaimer constitutes an essential part of this Terms of Use.</p>

  <h6>12. Entire Agreement</h6>
  <p>
    If any part of these Terms of Use is determined to be invalid or
    unenforceable pursuant to applicable law including, but not limited to, the
    warranty disclaimers and liability limitations set forth above, then the
    invalid or unenforceable provision will be deemed to be superseded by a
    valid, enforceable provision that most closely matches the intent of the
    original provision and the remainder of the Terms of Use shall continue to
    be in effect.
  </p>
</div>
