<div class="container">
  <div class="contact_banner">
    <div class="overlay"></div>
    <h2>Shipping Policy</h2>
    <br />
    <!-- <h5><a routerLink="/">Home</a>  <span> >></span> Privacy Policy</h5> -->
  </div>
</div>

<div class="container content">
  <h6>TIME FRAME</h6>
  <p>
    BUILDING DOCTOR is committed to delivering your order with good quality
    packaging within the given time frame. We ship throughout the week, except
    Sunday & Public holidays.
  </p>

  <h6>Shipping Services</h6>
  <p>To ensure that your order reaches you in good condition, in the shortest span of time, we ship through reputed courier agencies only. If there is no courier service available in your area, we may opt to ship your items via Government Registered Parcel.</p>

  <h6>Shipping Charges</h6>
  <p>Our product prices listed on the website are inclusive of GST but excludes Shipping & Delivery costs, which will be charged extra, depending on the weight and volume of your consignment.</p>
  <p>BUILDING DOCTOR may at its own discretion, decide to reduce or waive all or part of the Shipping & Delivery Charges, depending on your Order Value.</p>

  <h6>How long does it take for an order to arrive?</h6>
  <p>Orders are dispatched within 3 working days or as per the delivery date specified by you at the time of placing the order (whichever is later). Most orders are delivered within 7 to 8 working days. Delivery of all orders will be duly done to the address as mentioned by you at the time of placing the order.</p>

  <h6>What if the product is received in damaged condition?</h6>
  <p>If you think, you have received the product in a bad condition or if the packaging is tampered with or damaged before delivery, please refuse to accept the package and return the package to the delivery person. </p>
  <p> Also, please call our customer care at <a href="tel:+91-97516 97517">+91-97516 97517</a>  or email us at <a href="mailto:admin@buildingdoctor.org">admin@buildingdoctor.org</a> mentioning your Order ID. </p>
  <p>Please make sure that the original product tag and packing are intact when you send us the product back.</p>
</div>
