<div class="apply-main">
    <div class="container content">
        <h6>Own Your Future with Building Doctor Franchise</h6>
        <div class="features">
            <h5>
                <span><img class="tick-icon" src="../../../assets/icons/tick-icon.svg" alt="tick-icon" /></span>Proven Model
            </h5>
            <h5>
                <span><img class="tick-icon" src="../../../assets/icons/tick-icon.svg" alt="tick-icon" /></span>Unmatched Support
            </h5>
            <h5>
                <span><img class="tick-icon" src="../../../assets/icons/tick-icon.svg" alt="tick-icon" /></span>Exclusive Territories
            </h5>
        </div>
        <h2>
            Turn Your Ambition into Success <br />
            with Our Lucrative Franchise Opportunity
        </h2>
        <p>
            You’ll have everything you need to thrive in the booming construction
            industry
        </p>
        <div class="center-button">
            <button class="view">Apply Now</button>
        </div>
    </div>
</div>