.main {
  margin-top: 40px;
}

.main h3 {
  font-size: 34px;
  line-height: 51px;
  font-family: var(--font-medium);
  text-align: center;
  color: var(--primaryColor);
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid var(--mobile-app-text);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 30px;
}

.testimonial-content h5{
    font-size: 24px;
    line-height: 35px;
    font-family: var(--font-regular);
    color: #707070;
}

.image img{
    max-width: 100%;
}
.testimonialIcon{
    width: 44px;
    height: auto;
}

.testimonial-content p{
    font-size: 24px;
    line-height: 35px;
    font-family: var(--font-regular);
    color: #707070;
}

.swiper-main{
    padding: 20px;
    margin: 0 -20px;
}

@media only screen and (max-width:991px){
    .cards{
        flex-direction: column;
        align-items: center;
    }

    .testimonial-content h5, .testimonial-content p{
        font-size: 16px;
        line-height: 35px;
    }
    .testimonial-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}