<div class="container app">
    <div class="row">
        <div class="col-lg-6 content">
            <h2>Download the  <br> Building Doctor App</h2>
            <h6>Book our services, order our products <br> delivered to Home.</h6>
            <img src="../../../assets/icons/playstore.svg" alt="playstore- download button">
        </div>

        <div class="col-lg-6">
            <div class="card">
                <img src="../../../assets/images/mobileapp.png" alt="">
            </div>
        </div>
    </div>
</div>