<app-banner></app-banner>
<div class="combine-div">
<app-slider></app-slider>
 <app-video></app-video>
</div>
 <app-product-intro></app-product-intro>
 <app-view-products></app-view-products>
 <app-mobile-app></app-mobile-app>
 <app-feature></app-feature>
 <app-business-article></app-business-article>
 <app-testimonials></app-testimonials>
 <app-faq></app-faq>
 <app-franchise-section></app-franchise-section>
 <app-community></app-community>
<!-- <app-calculate></app-calculate> -->
<!-- <app-bill></app-bill> -->
