.header-left img {
  width: 130px;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--header-font-color);
  height: 70px;
  cursor: pointer;
}
.header1 {
  background: var(--header-new-bg);
  border: 2px solid #ffab40;
  border-radius: 10px;
  padding: 0 30px;
}
.main {
  padding-top: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--header-font-color);
}
/* .main{
    background-color: var(--primaryColor);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
} */
.header-center {
  display: flex;
  gap: 20px;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header h6 {
  font-size: 16px;
  font-family: var(--font-medium);
  margin-bottom: 0;
}

.active {
  color: var(--secondary_color);
}

.icon {
  font-size: 20px;
}
.reg-button {
  background: var(--button-background);
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  color: var(--primaryColor);
  font-size: 14px;
  font-family: var(--font-regular);
  padding: 12px 24px;
  border: none;
}

/* Responsive Mobile*/
@media only screen and (max-width: 991px) {
  .main {
    display: none;
  }
  .header-left img {
    width: 130px;
    height: auto;
  }
  .mobile-header {
    background: var(--header-font-color);
    height: 60px;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    /* background: white; */
  }
  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    border: none;
    font-size: 30px;
    background: transparent;
    color: var(--header-font-color);
  }
  .offcanvas {
    width: 100%;
    height: 100%;
    background: var(--header-new-bg);
    z-index: 9999;
  }
  .close-icon {
    color: var(--header-font-color) !important;
    font-size: 30px;
    padding: 0px;
    border: none;
    background: none;
    float: right;
  }
  .offcanvas-header img {
    width: 130px;
    height: auto;
  }
  .offcanvas-header {
    background-color: var(--header-background);
    display: block;
    padding-bottom: 0;
  }
  .offcanvas-body p {
    width: 100%;
    padding: 10px;
    margin: 0;
    color: var(--header-font-color);
  }
  .offcanvas-body a {
    text-decoration: none;
    color: var(--header-font-color);
    font-size: 20px;
    font-family: var(--font-medium);
  }
  .offcanvas-body {
    padding-top: 0;
  }
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
  }
  .icon {
    font-size: 20px;
    color: var(--header-font-color);
  }
  .left {
    background: var(--header-new-bg);
    margin-top: 15px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    height: 60px;
    padding-left: 30px;
  }
  .logo_img {
    margin-left: 10px;
  }
  /* .header-left {
    padding-left: 10px;
  } */
  .user-collapse {
    justify-content: space-between;
  }
  .card {
    border: none;
    background: none;
    padding-top: 0;
  }
  .collapse_link {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
}

/* Responsive Desktop*/
@media only screen and (min-width: 992px) {
  .menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}

/* Responsive mobile */
@media only screen and (max-width: 1199px) {
  .header h6 {
    font-size: 14px;
  }
 
}
