
<div class="main">
    <div class="container">
    <div class="header1">
        <div class="container">
            <div class="header">
        <div class="header-left">
            <img routerLink=""  src="../../../assets/logo/logo.png" alt="logo">
        </div>

        <div class="header-center">
            <div class="dropdown">
                <h6 class=" dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </h6>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#"> Waterproofing</a></li>
                  <li><a class="dropdown-item" href="#">Corrosion Treatments</a></li>
                  <li><a class="dropdown-item" href="#">Crack Filling</a></li>
                  <li><a class="dropdown-item" href="#">Flooring Systems
                </a></li>

                </ul>
              </div>
              <div class="dropdown">
                <h6 class=" dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </h6>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </div>

              <div class="dropdown">
                <h6 class=" dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Resources
                </h6>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </div>

              <h6>Franchise</h6>
              <h6>Stores</h6>
              <h6>Contact Us</h6>
        </div>

        <div class="header-right">
            <button class="reg-button">Register Site Visit</button>
        </div>
    </div>
    </div>
</div>

</div>
</div>

<!-- Mobile header -->
<div class="mobile-header">
    <div class="container">
        <div class="left">
            <div class="header-left">
                <img routerLink=""  src="../../../assets/logo/logo.png" alt="logo">
            </div>


<div class="right">
    <button class="menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-list"></i></button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">        
            <img src="../../../assets/logo/logo.png" class="logo_img" alt="logo">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
       
        <p><a routerLink="/"  routerLinkActive="active"   data-bs-dismiss="offcanvas" >Home</a></p>
        <p class="d-inline-flex gap-1 group">
          <a class="service_col" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" >Services <span><i class="bi bi-caret-right-fill icon"></i></span></a>
          
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <a routerLink="" routerLinkActive="active" data-bs-dismiss="offcanvas" >Water Proofing</a>
                
              </div>
              <div class="card card-body">
                <a routerLink="" routerLinkActive="active" data-bs-dismiss="offcanvas">Corrosion Treatments</a>
              </div>
            </div>
          </div>
      </div>
      <p><a routerLink="/about-us" routerLinkActive="active" data-bs-dismiss="offcanvas">About Us</a></p>

      <p class="last_menu"><a class="navigate" routerLinkActive="active" data-bs-dismiss="offcanvas" routerLink="/contact-us">Contact Us</a></p>
    
    </div>
    </div>
   

                
        </div>
    </div>
</div>
</div>

