/* You can add global styles to this file, and also import other style files */

:root {
    --primaryColor: #000000;
    --header-font-color:#fff;
    --button-background:#FFFFFF 0% 0% no-repeat padding-box;;
    --header-background: #F0711F 0% 0% no-repeat padding-box;
    --button-gradient:transparent linear-gradient(180deg, #FFAB40 0%, #ADADAD 51%, #1CA7FD 100%) 0% 0% no-repeat padding-box;
    --secondary_color:#B5FF7B;
    --font-regular: 'font-regular';
    --font-medium: 'font-medium';
    --font-semibold: 'font-semibold';
    --font-bold: 'font-bold';
    --text-color:#000;
    
}

@font-face {
    font-family: 'font-bold';
    src: url(./assets/fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: 'font-medium';
    src: url(./assets/fonts/FuturaPTMedium.otf);
}

@font-face {
    font-family: 'font-regular';
    src: url(./assets/fonts/FuturaPTDemi.otf);
}

body {
    background-color: #171616 !important;
    /* transition: background-color 0.5s ease;  */
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition effect for both background color and text color */
  }
  
  /* body.black-bg {
    background-color: white;
    color: white;
  } */
  