/* You can add global styles to this file, and also import other style files */

:root {
    --primaryColor: #000000;
    --header-font-color:#fff;
    --button-background:#FFFFFF 0% 0% no-repeat padding-box;;
    --header-background: #FC8D2C 0% 0% no-repeat padding-box;
    --button-gradient:#FC8D2C;
    --secondary_color:#F0711F;
    --canvas-background:#FC8D2D;
    --mobile-app-text: #FF8326;
    
 
    --font-regular: 'font-regular';
    --font-medium: 'font-medium';
    --font-semibold: 'font-semibold';
    --font-bold: 'font-bold';
    --font-regularr: 'font-regularr';
    --font-mediumm: 'font-mediumm';
    --font-semiboldd: 'font-semiboldd';
    --font-bold: 'font-boldd';
    --font-light:'font-light';
    --text-color:#000;
    
}

 @font-face {
    font-family: 'font-boldd';
    src: url(./assets/fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: 'font-mediumm';
    src: url(./assets/fonts/FuturaPTMedium.otf);
}

@font-face {
    font-family: 'font-regularr';
    src: url(./assets/fonts/FuturaPTDemi.otf);
} 

@font-face {
    font-family: 'font-bold';
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'font-semibold';
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'font-medium';
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'font-regular';
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'font-light';
    src: url(./assets/fonts/Poppins-Light.ttf);
}

body {
    background-color: #fff !important;
    /* transition: background-color 0.5s ease;  */
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition effect for both background color and text color */
  }
  
  .modal-dialog{
    width: 100% !important;
    max-width: 100% !important;
   height: 100%;
   margin: 0 !important;
   padding: 0 40px;
  } 

  .modal-body{
    padding: 0 !important;
    width: calc(100vw - 80px);
    height: 86vh;
  }

  .modal{
    background : var(--header-background);
  }

  .accordion-button-color{
    color: white;
  }

  .accordion-button:not(.collapsed)::after, .accordion-button::after{
    filter:invert(1);
    opacity: 1;
  }
  
  @media only screen and (max-width:991px){
    .modal-body{
        height: 50vh !important;
       }
        
       .modal-dialog{
        padding: 0 10px;
       }
  
  }