<div class="main">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-lg-6 banner-content">
          <h6 class="para">
            <span><img src="../../../assets/icons/tick.svg" alt="" /></span> Fix
            It Right. Fast. Affordable
          </h6>
          <div class="gap-div">
            <h1>
              Building Problems Solved <br />
              <span class="sub-text"> No more Cracks</span>
            </h1>
            <h6 class="para">Get your building back to its happy self.</h6>
            <div class="btn-common">
              <button class="gradient-btn">Register Site Visit</button>
              <h6 class="contact">Contact Our Expert</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            class="banner-img"
            src="../../../assets/images/banner-img1.png"
            alt="banner"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-banner container">
  <div class="images">
    <img
      class="img1"
      src="../../../assets/images/Featured-in-1.webp"
      alt="Featured-in"
    />
    <button class="btn1">World's First Smart Calculator</button>
    <h1>
      All-in-One Device <br />
      For Your Shop
    </h1>
    <img
      class="banner-img"
      src="../../../assets/images/banner-img.webp"
      alt="banner"
    />
    <button class="join-btn">Join V4 Waitlist</button>
    <button class="join-btn">
      <span><i class="bi bi-telephone-fill"></i></span>Contact us
    </button>
  </div>

  <div class="buttons2">
    <button class="Transactions1">
      <span class="letter">3L</span>
      <h4>
        Transactions <br />
        recorded till now
      </h4>
    </button>
    <button class="Transactions1">
      <span class="letter">150+</span>
      <h4>
        Trusted <br />
        reviews
      </h4>
    </button>
  </div>
</div>
