<div class="main">
  <div class="container h-100">
    <div class="banner h-100">
      <div class="row mobile h-100">
        <div class="col-lg-6 image ">
          <!-- <img
            class="banner-img"
            src="../../../assets/images/banner-img1.png"
            alt="banner"
          /> -->
        </div>

        <div class="col-lg-6 banner-content  ">
          <h6 class="para">
            <span><img src="../../../assets/icons/tick.svg" alt="" /></span> Fix
            It Right. Fast. Affordable
          </h6>
          <div class="gap-div">
            <h1>
              Building Problems Solved <br />

              <div class="text-container">
                <span class="text" *ngFor="let text of textStrings; let i = index" [style.animation-delay]="i * 8 + 's'">{{ text }}</span>
              </div>
            </h1>
            <h6 class="para">Get your building back to its happy self.</h6>
            <div class="btn-common">
              <button class="gradient-btn">Register Site Visit</button>
              <h6 class="contact">Contact Our Expert</h6>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>


