.banner {
  /* margin-top: 70px; */
  color: var(--text-color);
}

.main{
    background-image: url(../../../assets/images/building-doctor-background.webp);
    height: 110vh;
    padding-top: 110px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.para{
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    font-family: var(--font-regular);
    margin: 0;
}

.banner-img{
    width: 670px;
    height: auto;
    max-width: 100%;
}

.banner h1{
    font-family: var(--font-bold);
    font-size: 36px;
    line-height: 45px;
    color: var(--primary-color);
    margin: 0;
}

.buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* .text-container span{
color: #FC8D2C;
font-family: var(--font-bold);
margin: 0;
height: 2.5rem;

animation: moveUp 8s linear infinite;
font-size: 32px;

font-family: var(--font-bold);
} */

.text-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 2.5rem; /* Adjust according to your design */
  /* z-index: -1; */
}



.text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition effect */
  color: #FC8D2C;
  font-family: var(--font-bold);
  /* text-align: center; */
}

/* .show{
  text-align: center;
} */

.text.show {
  opacity: 1;
  text-align: center;
}

.gradient-btn{
    background: var(--button-gradient);
    border-radius: 25px;
    color: var(--header-font-color);
    font-size: 16px;
    font-family: var(--font-medium);
    opacity: 1;
    padding: 8px 40px;
    border: none;
}

.btn-common{
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact{
    color: #FC8D2C;
    font-size: 16px;
    font-family: var(--font-medium);
    margin: 0;
}
    

.gap-div{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 80px;
    padding-left: 50px;
}




/* mobile banner responsive */
@media only screen and (max-width:991px){
    .btn-common{
        flex-direction: column;
    }
    .banner h1, .para{
        text-align: center;
    }
    .text{
      display: block;
      text-align: center;
      width: 100%;
    }
    .image{
        display: none;
    }
    .main{
        height: 80vh;
        background-position: right;
    }
    .banner-content{
        padding-left: 16px;
        margin-top: 0;
    }
    

}

@media only screen and (min-width:992px){
  
   
}
   