<div class="container ">
    <div class="main">
        <div class="all-products">
            <p>Our Products</p>
            <h3>100+ products Full Range Of <br> Construction Chemicals</h3>
            <button class="view-btn"><span class="icon-img"><img src="../../../assets/icons/product.png"
                        alt="product-icon"></span>View All Products</button>
        </div>
        <div class="image">
            <img src="../../../assets/images/product.png" alt="product">
        </div>
    </div>
</div>