<div class="container franchise-main">
    <div class="franchise">
        <h6>Be the Cure</h6>
        <h3>Own a Building Doctor Franchise</h3>
        <p>Join the booming construction repair and waterproofing industry with a Building Doctor franchise. <br> We offer a proven business model, extensive training, and ongoing support to help you succeed. <br> Invest in your future and become the local hero for all things building repair!</p>
    </div>

    <div class="center-button">
        <button class="view"> Register for Franchise</button>
        <button class="learn-btn">Learn More</button>
    </div>

<swiper class="swiper-main" [config]="config">
    <ng-template swiperSlide *ngFor="let image of [].constructor(2)">


    <div class="image">
        <img src="../../../assets/images/franchise.png"  alt="franchise">
    </div>
    </ng-template>

</swiper>


    </div>